<%- include("./partials/fileHeader", {title: "RCalculator"}) %>
<%- include("./partials/header") %>

<main>
    The Assets Page
</main>

<%- include("./partials/navBar") %>
<%- include("./partials/footer") %>