<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>

<body>
    <main>
        <%= user.email %>
        The Dashboard Page
    </main>
    <footer>
        <div class="fixed bottom-0 left-0 z-50 sm:hidden lg:block w-full h-16 bg-gray-100 dark:bg-gray-800 border-t border-gray-200 dark:border-gray-700 p-6 text-center text-gray-500 dark:text-gray-400 text-sm">
            <div class="container mx-auto">
                <p>&copy; 2025 RCalculator. All rights reserved.</p>
             </div>
        </div>
    </footer>
</body>

</html>
