<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Welcome!</h1>
        <form method="get" action="/signup">
            <button type="submit">signup</button>
        </form>
    </body>
</html>