
<footer class="mt-16">
    <div class="fixed bottom-0 left-0 z-50 hidden lg:block w-full h-16 bg-gray-100 dark:bg-gray-800 border-t border-gray-200 dark:border-gray-700 p-6 text-center text-gray-500 dark:text-gray-400 text-sm">
        <div class="container mx-auto">
            <p>&copy; 2025 RCalculator. All rights reserved.</p>
            </div>
    </div>
</footer>
<script src="/static/scripts/geolocation.js"></script>
</body>
</html>