<div class="fixed bottom-0 z-50 lg:hidden w-full h-16 bg-gray-100 dark:bg-gray-800 border-t border-gray-200 dark:border-gray-700 text-gray-500 dark:text-gray-400 text-sm">
    <div class="grid h-16 max-w-lg grid-cols-4 mx-auto font-medium">
        <a href="/home" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">
            <img src="/static/svgs/dashboard.svg" alt="dashboard">
            <span class="text-gray-500 dark:text-gray-400 text-sm">Dashboard</span>
        </a>
        <a href="/assets" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">
            <img src="/static/svgs/assets.svg" alt="assets">
            <span class="text-gray-500 dark:text-gray-400 text-sm">Assets</span>
        </a>
        <a href="/plans" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">
            <img src="/static/svgs/plans.svg" alt="plans">
            <span class="text-gray-500 dark:text-gray-400 text-sm">Plans</span>
        </a>
        <a href="/more" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">
            <img src="/static/svgs/more.svg" alt="more">
            <span class="text-gray-500 dark:text-gray-400 text-sm">More</span>
        </a>
    </div>
</div>